:root{
    --fondo-formulario:var(--first-cream);
    --etiquetas-formulario:var(--first-dark);
    --etiquetas-trans-formulario:var(--first-gray-dark);
}


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.form-body{
    display:flex;
    min-height: 100vh;
    width:100%;
    margin-top:0.5em;
    margin-bottom:0.5em;
    text-align: center;

    
}

.form-container{
    margin:0 auto;
    width:90%;
    max-width: 650px;
    border-radius: 10px;
    background-color: var(--fondo-formulario);
    padding: 0.5em 3rem;
}

.user-input-box{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-input-box input{
    margin-bottom: 2em;
    background: none;
    border:none;
    outline:none;
    border-bottom: 1px solid black;
    width: 100%;
    padding: .3em .6em;
}

.user-input-box-label{
    cursor:pointer;
    position:absolute;
    font-size: 1em;
    top:0;
    left:5px;
    color:var(--etiquetas-formulario);
    transform: translateY(10px);
    transition: transform 1s, color .3s
}

.data-input:placeholder-shown{
   outline: none;
}


.data-input:focus + .user-input-box-label,
.data-input:not(:placeholder-shown) + .user-input-box-label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color:var(--etiquetas-trans-formulario);

    
}

.radio-box, .state-details{
    display:flex;
    justify-content: center;
    justify-items: center;
}

.radio-box input, .state-details select{
    margin-left: 0.5rem;
}

.radio-box label, .state-details label{
    margin-left: 0.5rem;
}

.select-box{
    display: flex;
    justify-content: center;
    
}

.select-box select{
    width: 200px;
    text-align: center;
}

#img-form{
    height: 200px;
    margin-top:200px;
}

.span-error{
    color:red;
    text-align: center;
    margin:auto;
   overflow: auto;
}

